*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/

body {
    font-family: 'Montserrat', sans-serif;
}



/*****************************************************************/
/*************************** Overflow ****************************/

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}


/*****************************************************************/
/**************************** Flexbox ****************************/

.flex {
    display: flex;
}

.column {
    flex-flow: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-space-b {
    justify-content: space-between;
}

.a-center {
    align-items: center;
    align-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-08 {
    gap: 0.8rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-1-5 {
    gap: 1.5rem;
}

.gap-r-2 {
    row-gap: 2rem;
}


/*****************************************************************/
/****************************** Font *****************************/

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.t-center {
    text-align: center;
}

/*****************************************************************/
/*************************** Font size ****************************/

.size-07 {
    font-size: 0.7rem;
}

.size-08 {
    font-size: 0.8rem;
}


/*****************************************************************/
/**************************** colors *****************************/

.t-white {
    color: #ffffff;
}

.t-grey-l {
    color: #a3a3a3
}

.back-grey-l {
    background-color: #a3a3a3
}

.back-grey-d {
    background-color: #282828;
}

.back-black {
    background-color: #000000;
}

.back-blue-d {
    background-color: #141922;
}


/*****************************************************************/
/************************* Border radius *************************/

.bord-20 {
    border-radius: 20px;
}


/*****************************************************************/
/**************************** Buttons ****************************/

.button {
    transition: all 0.1s linear;
    padding: 0.8rem 3rem;
    margin-right: 1.5rem;
    border: 1px solid #ffffff;
}


/*****************************************************************/
/***************************** Links *****************************/

#menu a {
    padding: 0 0.75rem;
}


a {
    text-decoration: none;
}


/*****************************************************************/
/************************** Structure ****************************/

#wrapp {
    width: 100%;
    height: 100vh;
}



/*****************************************************************/
/**************************** Footer *****************************/

#bar {
    width: 100%;
    height: 90px;
}

#info-music img {
    width: 50px;
}


/*****************************************************************/
/**************************** Header *****************************/

#menu-p {
    width: 230px;
    height: calc(100vh - 90px);
    padding: 1.2rem 1rem 0 1rem;
}

#nav-sup {
    height: calc(100% - 100px);
    min-height: 350px;
}

.logo img:first-child {
    width: 65%;
}

#menu-options a {
    width: 100%;
}

#menu-options a img {
    width: 28px;
}

#playlists #list-playlists {
    width: 100%;
    max-height: 80%;
}

#playlists a {
    width: 100%;
}

#nav-inf {
    width: 100%;
    height: 100px;
    margin-top: 1rem;
}

#nav-inf a:first-child img {
    width: 18px;
}

#nav-inf a:last-child img {
    width: 20px;
    height: 20px;
}


#upgrade {
    width: calc(100% - 230px);
    height: 85px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0.5;
}

#upgrade a {
    opacity: 1;
}


/*****************************************************************/
/***************************** Main ******************************/

#content-p {
    width: calc(100% - 230px);
    height: 100%;
}

#section-p {
    width: 100%;
    margin-top: 85px;
    padding: 1.4rem;
}

#section-p {
    width: 100%;
    margin-top: 85px;
    padding: 1.4rem;
}

#recently,
#created,
#popular {
    width: 100%;
    margin: 2rem 0;
}

.items-container {
    width: 100%;
}

.item {
    width: calc(100% / 6 - 1rem);
    cursor: pointer;
    margin: 2rem 0 0.5rem 0;
}

.cover img {
    width: 100%;
}